{% extends 'main/layout.html' %}

{% block content %}
{% load static %}
<a href="{% url 'cheese_main' main='main' %}"><button1 >return</button1></a>

<div class="center">
    <div>
        <a href="#🤣don't_click_on_me"><button class="bluei"><h1>Q4</h1></button></a>
    </div><br>
</div>

<div class="center">
    <a href="#🤣don't_click_on_me"><h1 class="purple center">WHAT DO GERMANS WATER THEIR GARDENS WITH?</h1></a>
</div>



<div class="center">
    <a href="{% url 'cheese_main' main='lose' %}"><button class="red">RAIN</button></a>
    <a href="{% url 'cheese_main' main='lose' %}"><button class="red">URINE</button></a>
</div><br>

<div class="center">
    <a href="{% url 'cheese_main' main='lose' %}"><button class="red">EARS</button></a>
    <a href="{% url 'cheese_game' q='quest_5' %}"><button class="red">LEDERHOSEN</button></a>
</div>




{% endblock %}