{% extends 'main/layout.html' %}

{% block content %}
{% load static %}
<a href="{% url 'cheese_main' main='main' %}"><button1 >return</button1></a>

<div class="center">
    <div>
        <a href="#🤣don't_click_on_me"><button class="bluei"><h1>Q5</h1></button></a>
    </div><br>
</div>

<div class="center">
    <a href="#🤣don't_click_on_me"><h1 class="purple center">¡NMOꓷ-ƎꓷISԀꓵ NOIꓕSƎꓵꝹ SIHꓕ ꓤƎMSNⱯ</h1></a>
</div>



<div class="center">
    <a href="{% url 'cheese_game' q='quest_6' %}"><button class="red">FINE</button></a>
    <a href="{% url 'cheese_main' main='lose' %}"><button class="red">ⱯꓶꓤIꓨHꓕ</button></a>
</div><br>

<div class="center">
    <a href="{% url 'cheese_main' main='lose' %}"><button class="red">ꓤƎꓭWꓵƆꓵƆ</button></a>
    <a href="{% url 'cheese_main' main='lose' %}"><button class="red">ꓘ</button></a>
</div>




{% endblock %}